.mypage-title{
  color: #000000;
  font-size: 30px;
  margin-left: 10px;
}

.info-btn{
  position: absolute;
  font-size: 18px;
  width: 150px;
  height: 60px;
  top: 10px;
  right: 0;
  z-index: 10;
  background-color: #637ac6;
  padding: 20px;
  color: #ffffff;
  border: none;
}

.qna-btn{
  background-color: #811FFF;
  color: #ffffff;
  font-size: 13px;
  padding: 10px 20px;
  border-radius: 45px;
  border: none;
  position: absolute;
  top: 110px;
  right: 100px;
}

.top-content{
  margin-top: 100px;
}

.bottom-content{
  margin-top: 100px;
}

.review-btn{
  background-color: #C8D9FC;
  color: #000000;
  font-size: 13px;
  padding: 10px 20px;
  border-radius: 45px;
  border: none;
  position: absolute;
  bottom: 270px;
  right: 100px;
}

.main-swiper{
  margin: 30px 0px;
}

.hospital-name{
  font-size:24px;
  
}

.hospital-area{
  padding: 10px 0;
}

.show-btn{
  border: none;
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 30px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px 20px;
}

.hospital-star{
  font-size:20px;
  padding: 5px 0px;
}