<!-- <!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{review.hospital.name}}
    {{review.hospital.adress}}
    병원이미지
    <img src="{{review.hospital.image.url}}">
    {{review.comment}}
    {{review.point}}

</body>
</html> -->

<!-- <!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이페이지5</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <link href="{% static 'css/mypage5.css' %}" rel="stylesheet" />
    <style>
      #container {
        margin: 0 auto;
        text-align: center;
        position: relative;
        background-color: #e3e2e2;
      }

      * {
        font-family: "Noto Sans KR", sans-serif;
      }
    </style>
    <link rel="stylesheet" href="/css/mypage5.css" />
  </head>
  <body>
    <div id="container">
      <img src="{{review.hospital.image.url}}" id="hosimg" />
      <div id="myhospital">나의 병원</div>
      <div id="hospname">{{review.hospital.name}}</div>
      <div id="scorement">평점 </div>
      <div id="scorebox">{{review.point}}</div>
      <div id="myreviewment">나의 리뷰</div>
      <div id="myreviewbox">
        <div id="reviewcontent">
            {{review.comment}}
        </div>
      </div>
    </div>
  </body>
</html>
 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이페이지5</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <style>
      #container {
        margin: 0 auto;
        text-align: center;
        position: relative;
        background-color: #ffffff;
      }

      * {
        font-family: "Noto Sans KR", sans-serif;
      }
    </style>
    <link href="{% static 'css/mypage5.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div id="container">
      <!--<img src="../images/큐엔에이답변상세 (2).png" id="hosimg" />-->
      <div id="leftframe">
        <img
        src="{{review.hospital.image.url}}"
          id="hospitalimg"
          style="position: absolute"
        />
        <span
          id="toptitle"
          style="
            position: absolute;
            width: 11.8125rem;
            height: 1.4375rem;
            flex-shrink: 0;
            left: -1%;
            top: 2.5%;
            color: #ffffff;
          "
          >상세 리뷰

          <div id="purplebox" style="position: absolute; left: 12%; top: 3150%">
            <div
              id="hospitalname"
              style="position: absolute; left: -1%; top: 30%"
            >
              병원명 A
            </div>

            <div id="address" style="position: absolute; left: -1%; top: 50%">
                {{review.hospital.adress}}
            </div>
          </div>
        </span>
      </div>

      <div id="myhospital">나의 병원</div>
      <div id="hospname">{{review.hospital.name}}</div>
      <div id="scorement">평점</div>
      <div id="scorebox">{{review.point}}</div>
      <div id="myreviewment">나의 리뷰</div>
      <div id="myreviewbox">
        <div id="reviewcontent">
            {{review.comment}}
        </div>
      </div>
    </div>
  </body>
</html>

